# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY="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"

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET="123456789"

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-kv/quickstart and 
KV_URL="redis://default:0d527d4a63194210868bf025cc24939f@stunning-tortoise-35523.upstash.io:35523"
KV_REST_API_URL="https://stunning-tortoise-35523.upstash.io"
KV_REST_API_TOKEN="AYrDASQgNTcyOGEyZTctODFmYy00YWVlLWI0ZTItZjQ0N2Q1M2Y2NDY4MGQ1MjdkNGE2MzE5NDIxMDg2OGJmMDI1Y2MyNDkzOWY="
KV_REST_API_READ_ONLY_TOKEN="AorDASQgNTcyOGEyZTctODFmYy00YWVlLWI0ZTItZjQ0N2Q1M2Y2NDY45t5xgZZ48gyS9MuiSSeS-XSYLzBrXx9J8GeQCzhVJfk="
